<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>release-testing</string>  <!-- Use 'ad-hoc' for Firebase, 'app-store' for App Store -->
    <key>teamID</key>
    <string>S39R58R47Q</string>  <!-- Replace with your Apple Developer Team ID -->
    <key>provisioningProfiles</key>
    <dict>
        <key>com.manman.awesomeproject</key>
        <string>testing app</string>  <!-- Optional: Name of your provisioning profile -->
    </dict>
    <key>signingCertificate</key>
    <string>iPhone Distribution</string>
    <key>uploadBitcode</key>
    <false/>
    <key>compileBitcode</key>
    <false/>
</dict>
</plist>
